@import url("./icon/icon.css");
.node-arrow {
  font-size: 10px;
  user-select: none;
}

.node-entity {
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  height: 20px;
  margin-left: 2px;
}
.node-entity > .node-info {
  display: flex;
  padding: 0 10px;
  align-items: center;
  position: relative;
}
.node-entity > .node-info > .node-icon-box {
  color: #333;
  margin-right: 2px;
}
.node-entity > .node-info > .node-icon-box > * {
  font-size: 16px;
}
.node-entity > .node-info > .node-name {
  color: #333;
  font-size: 12px;
}
.node-entity > .node-info > .node-desc {
  margin-left: 8px;
  color: #949090;
  font-size: 12px;
}
.node-entity > .node-info::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.node-entity > .handle-btn-box {
  margin-left: 14px;
  display: flex;
  visibility: hidden;
}
.node-entity > .handle-btn-box .iconfont {
  font-size: 20px !important;
}
.node-entity:hover {
  background-color: #f2f3f7;
  border-radius: 10px;
}
.node-entity:hover > .handle-btn-box {
  visibility: visible;
}
.node-entity.active {
  background-color: #2077ff;
  border-radius: 10px;
  color: #fff;
}
.node-entity.active > .node-info > .node-name {
  color: #fff;
}
.node-entity.active > .node-info > .node-desc {
  color: #fff;
}
.node-entity.active > .node-info > .node-icon-box {
  color: #fff;
}

.node-wrapper {
  position: relative;
  padding-top: 6px;
}
.node-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: -8px;
  width: 1px;
  height: 16px;
  background-color: #ccc;
}
.node-wrapper::after {
  position: absolute;
  content: "";
  top: 16px;
  left: -8px;
  bottom: 0px;
  width: 1px;
  background-color: #ccc;
}
.node-wrapper:last-child::after {
  display: none;
}
.node-wrapper .node-layout {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.node-wrapper .node-layout::before {
  position: absolute;
  left: -8px;
  width: 8px;
  height: 1px;
  background-color: #ccc;
  content: "";
}
.node-wrapper .children-layout {
  margin-left: 14px;
  display: none;
}
.node-wrapper .children-layout.expand {
  display: block;
}
.node-wrapper.expand > .node-layout > .node-arrow {
  transform: rotate(90deg);
}
.node-wrapper.expand > .children-layout {
  display: block;
}

.root-wrapper::after, .root-wrapper::before {
  display: none;
}
.root-wrapper > .node-layout::before {
  display: none;
}